<div class="e-json-editor__row">
  <button class="c-button c-button--small" (click)="generateJsonFromForm()" [disabled]="form.invalid">
    Generate JSON
  </button>
  <button class="c-button c-button--small" (click)="resetForm()">Reset</button>
  <button class="c-button c-button--small" (click)="modal()">Modal</button>
</div>

<div *ngIf="form.controls.length > 0">
  <div class="e-json-editor__row" *ngFor="let control of form.controls; let i = index">
    <app-json-field [formGroup]="control"></app-json-field>

    <button class="c-button c-button--error c-button--square" [disabled]="i === 0" (click)="removeItem(i)">
      <i-feather name="trash-2"></i-feather>
    </button>
  </div>

  <button class="c-button u-margin-left--lg u-margin-top--base" (click)="addItem()">
    <i-feather name="plus"></i-feather>
    <span>Add item</span>
  </button>
</div>
