<div class="e-json-editor__row">
  <form [formGroup]="fileForm">
    <app-file-input label="Load JSON from file" formControlName="file"></app-file-input>
  </form>

  <button class="c-button c-button--small" [disabled]="form.invalid" (click)="openJsonFileOptions()">
    Generate JSON file
  </button>

  <button class="c-button c-button--small" (click)="resetForm()">Reset form</button>
</div>

<div *ngIf="form.controls.length > 0">
  <div class="e-json-editor__row" *ngFor="let control of form.controls; let i = index">
    <app-json-field [formGroup]="control"></app-json-field>

    <button class="c-button c-button--error c-button--square" [disabled]="i === 0" (click)="removeItem(i)">
      <i-feather name="trash-2"></i-feather>
    </button>
  </div>

  <button class="c-button u-margin-left--lg u-margin-top--base" (click)="addItem()">
    <i-feather name="plus"></i-feather>
    <span>Add item</span>
  </button>
</div>
