@import '../../../../themes/sizing.scss';

.e-json-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: $size-lg;

  &__main,
  &__row {
    display: flex;
    align-items: flex-start;
    gap: $size-base;
  }

  &__row {
    margin-top: $size-base;
  }

  &__col {
    display: inline-table;
    min-width: 12.5 * $size-base;
    max-width: 12.5 * $size-base;

    &-l {
      min-width: 25 * $size-base;
    }
  }
}
