<form class="e-array-row-field" [formGroup]="formGroup">
  <div class="e-array-row-field__main">
    <app-field-select [options]="typeOptions" [noPadding]="true" formControlName="type"></app-field-select>

    <div class="u-width--100">
      <ng-container *ngIf="formGroup.controls?.value">
        <ng-container [ngSwitch]="formGroup.value.type">
          <app-field-input *ngSwitchCase="'string'" [noPadding]="true" formControlName="value"></app-field-input>
          <app-field-input
            *ngSwitchCase="'number'"
            type="number"
            [noPadding]="true"
            formControlName="value"></app-field-input>
          <app-field-toggle
            *ngSwitchCase="'boolean'"
            [noPadding]="true"
            formControlName="value"></app-field-toggle>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <ng-container
    *ngIf="formGroup.controls?.value && (formGroup.value.type === 'array' || formGroup.value.type === 'object')">
    <ng-container [ngSwitch]="formGroup.value.type">
      <div class="e-array-row-field__row" *ngSwitchCase="'array'">
        <app-array-field formControlName="value"></app-array-field>
      </div>

      <ng-container *ngSwitchCase="'object'">
        <div
          class="e-array-row-field__row"
          *ngFor="let control of $any(formGroup.value.value).controls; let i = index">
          <app-json-field [formGroup]="control"></app-json-field>

          <button class="c-button c-button--error c-button--square" [disabled]="i === 0" (click)="removeItem(i)">
            <i-feather name="trash-2"></i-feather>
          </button>
        </div>

        <button class="c-button u-margin-left--lg u-margin-top--base" (click)="addItem()">
          <i-feather name="plus"></i-feather>
          <span>Add item</span>
        </button>
      </ng-container>
    </ng-container>
  </ng-container>
</form>
