<form class="e-array-row-field" [formGroup]="formGroup">
  <div class="e-array-row-field__main">
    <app-field-select [options]="typeOptions" [noPadding]="true" formControlName="type"></app-field-select>

    <ng-container *ngIf="formGroup.controls?.value">
      <ng-container [ngSwitch]="formGroup.value.type">
        <div class="e-array-row-field__col-l" *ngSwitchCase="'string'">
          <app-field-textarea [noPadding]="true" formControlName="value"></app-field-textarea>
        </div>

        <div class="e-array-row-field__col" *ngSwitchCase="'number'">
          <app-field-input type="number" [noPadding]="true" formControlName="value"></app-field-input>
        </div>

        <div class="e-array-row-field__col" *ngSwitchCase="'boolean'">
          <app-field-toggle [noPadding]="true" formControlName="value"></app-field-toggle>
        </div>
      </ng-container>
    </ng-container>

    <button class="c-button c-button--error c-button--square" (click)="callRemove()">
      <i-feather name="trash-2"></i-feather>
    </button>
  </div>

  <ng-container
    *ngIf="formGroup.controls?.value && (formGroup.value.type === 'array' || formGroup.value.type === 'object')">
    <ng-container [ngSwitch]="formGroup.value.type">
      <div class="e-array-row-field__row" *ngSwitchCase="'array'">
        <app-array-field formControlName="value"></app-array-field>
      </div>

      <ng-container *ngSwitchCase="'object'">
        <div
          class="e-array-row-field__row"
          *ngFor="let control of $any(formGroup.value.value).controls; let i = index">
          <app-json-field [formGroup]="control" (remove)="removeItem(i)"></app-json-field>
        </div>

        <button class="c-button u-margin-left--lg u-margin-top--base" (click)="addItem()">
          <i-feather name="plus"></i-feather>
          <span>Add item</span>
        </button>
      </ng-container>
    </ng-container>
  </ng-container>
</form>
