@import '../../../../../themes/sizing.scss';

.e-modal {
  max-height: calc(100vh - #{$size-lg * 2});
  max-width: calc(100vw - #{$size-lg * 2});
  overflow-y: auto;
  overflow-x: hidden;

  padding: $size-lg;
  padding-top: $size-xxl;

  scrollbar-color: var(--color-gray-700) var(--color-gray-1100);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: $size-xxs;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-gray-1100);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-gray-700);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray-600);
  }

  &__close {
    background: unset;
    border: unset;
    color: var(--color-gray-100);
    cursor: pointer;
    display: flex;

    --icon-size: #{$size-lg};

    position: absolute;
    top: $size-sm;
    right: $size-base;
    z-index: 102;

    &:hover {
      color: var(--color-gray-200);
    }
  }
}
