@import 'sizing.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --icon-size: #{$size-base};
  background: var(--color-gray-1100);
  color: var(--color-text-medium);
  font-family: 'Public Sans', sans-serif;
}

i-feather {
  width: var(--icon-size) !important;
  height: var(--icon-size) !important;
}
