$size-base: 1rem; // 16px

$size-tiny: $size-base * 0.25; // 4px
$size-xxs: $size-base * 0.5; // 8 px
$size-xs: $size-base * 0.625; // 10px
$size-sm: $size-base * 0.75; // 12 px
$size-md: $size-base * 1.25; // 20 px
$size-lg: $size-base * 1.5; // 24 px
$size-xl: $size-base * 2; // 32 px
$size-xxl: $size-base * 2.5; // 40 px
